.edit-field-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-field-form input,
.edit-field-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.edit-field-form textarea {
    resize: vertical;
    min-height: 120px;
}

.edit-field-form label {
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Space between buttons */
}

.edit-field-form button {
    margin-top: auto;
    padding: 15px 30px;
    background-color: #4299e1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
}

.edit-field-form .cancel-button {
    background-color: #f44336;
    color: white;
}

.edit-field-form .save-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.edit-field-form .cancel-button:hover {
    background-color: #d32f2f;
}

.edit-field-form .save-button:hover {
    background-color: #388E3C;
}

/* Thêm style mới cho nút Edit Field
.edit-field-button {
    width: 100%;
    padding: 10px;
    background-color: #0ada48;
    color: white;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    font-size: 100%;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
    /* max-height: 20px; */
    /* margin: 5px 0; */


/* .edit-field-button:hover {
    background-color: #09f21d;
    border-color: #09f21d;
} */
